@font-face {
  font-family: 'InaiMathi';
  src: url(InaiMathi.ttf) format('truetype');
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fff;
  transition: black 1s;
}

.content {
  display: flex;
  flex-direction: column;
}

.navbardesktop {
  display: none;
}

a:hover {
  color: black;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  height: 590px;
  background-color: #1c1a19;
  background-image: url('./imgs/backgimage.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.links {
  list-style: none;
  display: flex;
}

.status-mobile {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 375px;
  height: 44px;
  left: calc(50% - 375px / 2);
  top: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  color: white;
  padding: 18px 10px;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Crete Round', serif;
}

h1 {
  height: 100px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2:not([class]) {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
}

p {
  width: 327px;
  height: 123px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  text-align: inherit;
}

.name {
  width: 200px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
}

ul {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 1px;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
}

.proyects {
  background: #fff;
  flex-direction: column;
  display: grid;
  padding: 24px;
}

.links1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  justify-content: flex-start;
}

.imgprincipal {
  display: flex;
  width: 327px;
  height: 237px;
  background-image: url('./imgs/ImgPlaceholder.jpg');
  background-repeat: no-repeat;
}

.fontstitles {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  width: 375px;
  height: 3028px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid black;
}

.letter {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 12px;
  margin-top: 24px;
}

.intro1 {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  order: 0;
  flex-grow: 0;
  color: #091e42;
}

.head1 {
  width: 327px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.letter1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px;
}

.line {
  width: 327px;
  line-height: 52px;
  border: 1px solid #212121;
  background: black;
}

.tittleworksproyects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-top: 80px;
}

.letter2 {
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: transparent;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.css {
  width: 49px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #8993a4;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.css2 {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #8993a4;
  background: transparent;
  padding: 10px 12px;
}

.html {
  width: 56px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #8993a4;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.html2 {
  width: 32px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  color: #091e42;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.boostrap {
  width: 95px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: transparent;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.boostrap2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #091e42;
  border: 1px solid #8993a4;
  align-items: center;
  padding: 10px 12px;
}

.ruby {
  width: 61px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.ruby2 {
  display: flex;
  width: 37px;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.btnseeproyect {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  justify-content: center;
  flex-wrap: nowrap;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}

.btnseeproyect:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.btnseeproyect:focus {
  border: 1px solid #f55800;
}

.btnseeproyect2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 369px;
  height: 58px;
  background-color: #f55800;
  flex: none;
  order: 3;
  flex-grow: 0;
  justify-content: center;
  flex-wrap: nowrap;
  color: hsl(0, 0%, 100%);
  border: 1px solid transparent;
  cursor: pointer;
}

.btnseeproyect2:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.btnseeproyect2:focus {
  background-color: #e05304;
}

.grid {
  display: grid;
  justify-content: space-between;
}

.cover2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background-color: #1c1a19;
}

.aboutme {
  background: #1c1a19;
  flex-direction: column;
  align-content: center;
  display: flex;
  padding: 24px;
  background-image: url('./imgs/backgimage2.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 400px;
}

.about-me {
  padding: 2em 1em;
  background: #1c1a19;
}

.about-me > h6,
.about-me > p {
  margin-bottom: 0.4em;
}

.about-me > p {
  background-color: #8993a4;
}

.grid2 {
  background-image: url('./imgs/imagebackground.jpg');
  background-repeat: no-repeat;
  justify-items: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 369px;
  height: 405px;
  justify-content: space-between;
}

.nested-grid {
  display: grid;
}

.tittleaboutme {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.aboutmeskills1 {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  list-style-image: url('./imgs/Rectangle55.jpg');
}

.aboutmeskills2 {
  width: 227px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  list-style-image: url('./imgs/square56.png');
}

.aboutmeskills3 {
  width: 115px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  list-style-image: url('./imgs/Circle57.png');
}

.contactme {
  position: relative;
  width: 375px;
  height: 6968px;
  background: #fff;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.grid3 {
  display: flex;
  justify-items: center;
  gap: 44px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.fontaboutmeskills {
  width: 162px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h6 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  display: flex;
  margin-top: 120px;
  margin-bottom: 1px;
}

.contend2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 24px;
  height: 24px;
}

/* footer section styles */

* {
  font-family: 'Roboto', sans-serif;
}

footer {
  margin-top: 9em;
}

.imgcontact {
  position: sticky;
}

.name-touch {
  color: black;
}

/* footer section styles */

/* general button style */
.btn {
  background-color: #f55800;
  color: hsl(0, 0%, 100%);
  border: 1px solid #f55800;
  padding: 0.9em;
  font-size: 17px;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.btn:focus {
  background-color: #e05304;
}

footer.contact {
  padding: 5em 1em 0 1em;
}

.secondary-header {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/* contact form styles */

input,
textarea {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 1em;
  outline: none;
}

:placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #979493;
}

.contact-form button {
  display: inline-block;
  background-color: #ff6b00;
  width: 140px;
  margin-inline: auto;
}

.btnseeproyect3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  justify-content: center;
  color: #fff;
  border: transparent;
  cursor: pointer;
  transition: black 1s;
}

.contact {
  border-top: 1px solid #dfe1e6;
  padding-top: 1em;
}

.contact-form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1em;
  margin-bottom: 7em;
}

footer input,
textarea {
  border: none;
  padding: 0.7em;
  border-bottom: 1px solid lightgray;
}

textarea {
  background-color: #fbf8f7;
  margin-bottom: 1em;
}

/* footer social media styles */
.footer-social-media {
  border-top: 1px solid lightgray;
  margin-inline: -1em;
}

/* Desktop Version  */

@media screen and (min-width: 768px) {
  .a {
    font-family: 'Inter', sans-serif;
  }

  .cover {
    display: flex;
    align-items: flex-start;
    height: 798px;
    background-color: #1c1a19;
    background-image: url('./imgs/backimagedesktop.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 151px 151px;
  }

  .nav-bar {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 1px;
    padding: 1px 151px;
  }

  .navbardesktop {
    display: inline-flex;
    gap: 33px;
    list-style: none;
  }

  .menu {
    display: none;
  }

  h1 {
    display: inline-flex;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    margin-bottom: 24px;
  }

  h2:not([class]) {
    width: 566px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    color: #fff;
  }

  p {
    width: 580px;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    flex: none;
    text-align: inherit;
  }

  .links1 {
    list-style: none;
    flex-direction: column;
    position: absolute;
    left: -120px;
    top: 100px;
  }

  .links2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .proyects {
    display: flex;
    gap: 24px;
  }

  .fontstitles {
    width: 315px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-left: 153px;
  }

  .line {
    width: 794px;
    height: 1px;
    line-height: 52px;
    border: 1px solid #212121;
    background: black;
  }

  .tittleworksproyects {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row;
  }

  .imgprincipal {
    display: flex;
    width: 684px;
    height: 448px;
    background-image: url('./imgs/ImgPlaceholder2.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .works {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
  }

  .grid4 {
    display: inline-grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    gap: 24px;
    margin-bottom: 130px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .letter {
    width: 448px;
    height: 40px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: inline-flex;
    align-items: center;
    color: #091e42;
    margin: 1px;
  }

  .intro1 {
    width: 456px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    order: 0;
    flex-grow: 0;
    color: #091e42;
    margin: 1px;
  }

  .programs {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin: 1px;
  }

  .btnseeproyect {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    height: 48px;
    background: #ff6b00;
    flex: none;
    justify-content: center;
    color: #fff;
    border: transparent;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .grid2 {
    background-image: url(imgs/imagebackground.jpg);
    background-repeat: no-repeat;
    justify-items: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 369px;
    height: 405px;
    justify-content: space-between;
  }

  .proyects2 {
    width: 370px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    color: #fff;
    flex: none;
    text-align: inherit;
  }

  .aboutme {
    background: #1c1a19;
    flex-direction: column;
    align-content: center;
    display: flex;
    padding: 24px;
    background-image: url('./imgs/backgimage4.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 40%;
  }

  .aboutme2 {
    margin: 130px 732px 1px 142px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutme3 {
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin: 1px 732px 24px 142px;
  }

  .line2 {
    border: 1px solid #fff;
    background: #fff;
    margin-top: 139px;
  }

  .btnseeproyect3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px 732px 24px 142px;
    width: 140px;
    height: 48px;
    background-color: #f55800;
    padding: 0.9em;
    flex: none;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }

  .btnseeproyect3:hover {
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  .btnseeproyect3:focus {
    background-color: #e05304;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 146px;
  }

  .wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
  }

  .secondary-header {
    font-size: 39px;
    font-weight: 700;
    color: #172b4d;
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 455px;
    height: 256px;
    text-align: left;
  }

  .contact-form {
    display: flex;
    position: relative;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1em;
    margin-bottom: 7em;
    width: 684px;
    height: 330px;
  }

  .buttontouch {
    display: flex;
    position: absolute;
    top: 290px;
  }
}
